# Data Cleaning

Notes by Dr. Chris North, Virginia Tech

Updated by S. Nizamani and S.B. Nizamani

Data files:  Counties2010-dirty.csv

References:
* Pandas for Everyone, Chapters 5,6,7 
* Python for Data Analysis, Chapter 7


### Goal

In preparation for analytics:

1. Find and clean **dirty** data values,
2. Handle **missing** data values,
3. Re-structure **disorganized** data tables.


### Warnings:
* Good idea to compare cleaned data to original dirty data
* Data cleaning decisions have implications. Document what you did.

In [1]:
## Both pandas and numpy are commonly used libraries in Python for data analysis and numerical computation.
import pandas
import numpy

In [2]:
# load the CSV file into a DataFrame
dirty = pandas.read_csv("Counties2010-dirty.csv")

### How to find dirty data?
* data types
* data distributions, summary stats

### How to clean dirty data?
* missing data:  set to NaN
* invalid data:  set to NaN
* extreme data:  set to NaN
* wrong data types:  convert, e.g. int("47")
* wrong data units:  math, e.g 1GB == 1,000,000,000b
* duplicated data:  eliminate
* messy categories:  standardize, e.g. "VA"&rarr;"Virginia"
* messy text:  whitespace, punctuation, unusual chars, emojis

### Cleaning tasks for Counties2010-dirty:
1. Clean "MedianRent" by removing "$" and converting to numeric

2. Replace or drop 0's in "IncomePerCapita" (and other affected columns)

4. Handle missing values in other columns

3. Split the "Name" column into separate "County" and "State" columns

In [4]:
dirty.head()

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
0,"Aleutians East, AK",3141,2697.0,28942,12.5,$475,4.5,6981.94
1,"Aleutians West, AK",5561,5465.0,33318,8.5,$1050,4.9,4390.28
2,"Anchorage, AK",291826,260283.0,46243,32.3,$921,18.0,1704.68
3,"Bethel, AK",17013,16006.0,26990,14.4,$845,6.7,40570.00
4,"Bristol Bay, AK",997,1258.0,48747,14.2,$687,9.2,503.84

In [5]:
# make a copy
clean = dirty.copy()

### 1. Remove Non-Numeric Characters and Convert Types

In [49]:
## Data types
# 1. Clean "MedianRent" by removing "$" and converting to numeric

In [43]:
# Check column data types  ('object' typically implies 'string')
dirty.dtypes

Name                   object
Population              int64
Pop2000               float64
IncomePerCapita         int64
PercentCollegeGrad    float64
MedianRent             object
CommuteTime           float64
LandArea              float64
dtype: object

In [44]:
# column MedianRent contains strings like "$1234" that need cleaning
dirty.MedianRent

0        $475
1       $1050
2        $921
3        $845
4        $687
        ...
3141     $870
3142     $437
3143     $369
3144     $388
3145     $882
Name: MedianRent, Length: 3146, dtype: object

In [45]:
# MedianRent: check the data types of each entry (likely <class 'str'> because of "$")
dirty.MedianRent.map(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
3141    <class 'str'>
3142    <class 'str'>
3143    <class 'str'>
3144    <class 'str'>
3145    <class 'str'>
Name: MedianRent, Length: 3146, dtype: object

In [46]:
# Count how many values of each Python type are in the MedianRent column
dirty.MedianRent.map(type).value_counts()

MedianRent
<class 'str'>    3146
Name: count, dtype: int64

In [11]:
# ERROR: direct int conversion fails because values have "$" (e.g., "$1234")
# Need to strip "$" and convert to numeric
# dirty.MedianRent.map(int)

In [47]:
# Convert "MedianRent" by removing "$" and casting to int
clean.MedianRent = dirty.MedianRent.map(lambda s: int(s.replace('$','')))
clean.MedianRent

0        475
1       1050
2        921
3        845
4        687
        ...
3141     870
3142     437
3143     369
3144     388
3145     882
Name: MedianRent, Length: 3146, dtype: int64

In [48]:
clean.MedianRent.median()

409.0

### 2. Handling Invalid or Placeholder Values

In [50]:
## Data distributions
# 2. Replace or drop 0's in "IncomePerCapita" (and other affected columns)

In [52]:
# IncomePerCapita -- data distributions
# Notice length
dirty.IncomePerCapita.value_counts()

IncomePerCapita
0        35
27141     4
32627     4
26669     3
34600     3
         ..
32544     1
21094     1
25849     1
19946     1
62484     1
Name: count, Length: 2880, dtype: int64

In [53]:
# Trouble in VA
dirty[dirty.IncomePerCapita==0]

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
22,"Skagway, AK",968,NaN,0,31.0,$852,4.4,452.33
26,"Wrangell, AK",2369,NaN,0,14.8,$596,14.3,2541.48
547,"Kalawao, HI",90,147.0,0,25.6,$2001,5.7,11.99
1653,"Yellowstone National Park, MT",0,NaN,0,0.0,$0,0.0,0.00
2817,"Bedford City, VA",6222,6299.0,0,20.5,$450,18.5,6.88
2820,"Bristol, VA",17835,17367.0,0,18.9,$395,17.8,13.01
2824,"Buena Vista, VA",6650,6349.0,0,14.8,$486,15.1,6.70
2830,"Charlottesville, VA",43475,45049.0,0,43.3,$737,15.9,10.24
2834,"Clifton Forge, VA",0,4289.0,0,0.0,$0,0.0,0.00
2835,"Colonial Heights, VA",17411,16897.0,0,20.2,$674,21.8,7.52
2836,"Covington, VA",5961,6303.0,0,9.8,$366,17.6,5.47
2840,"Danville, VA",43055,48411.0,0,15.7,$379,17.8,42.93
2843,"Emporia, VA",5927,5665.0,0,15.9,$382,15.0,6.89
2846,"Fairfax City, VA",22565,21498.0,0,50.9,$1356,31.1,6.24
2847,"Falls Church, VA",12332,10377.0,0,69.5,$1247,26.7,2.00
2852,"Franklin City, VA",8582,8346.0,0,21.0,$502,22.5,8.21
2854,"Fredericksburg, VA",24286,19279.0,0,31.5,$862,27.2,10.44
2855,"Galax, VA",7042,6837.0,0,13.2,$296,27.4,8.24
2865,"Harrisonburg, VA",48914,40468.0,0,31.8,$641,15.5,17.42
2869,"Hopewell, VA",22591,22354.0,0,11.2,$539,22.0,10.28
2877,"Lexington, VA",7042,6867.0,0,47.6,$560,13.1,2.50
2881,"Lynchburg, VA",75568,65269.0,0,28.1,$491,16.4,49.13
2883,"Manassas, VA",37821,35135.0,0,27.7,$1083,32.0,9.88
2884,"Manassas Park, VA",14273,10290.0,0,24.8,$1193,40.6,2.53
2885,"Martinsville, VA",13821,15416.0,0,17.8,$385,16.9,10.96
2896,"Norton, VA",3958,3904.0,0,19.1,$387,15.9,7.48
2901,"Petersburg, VA",32420,33740.0,0,15.9,$579,20.9,22.93
2903,"Poquoson, VA",12150,11566.0,0,34.2,$926,22.5,15.32
2910,"Radford, VA",16408,15859.0,0,30.7,$557,17.5,9.87
2919,"Salem, VA",24802,24747.0,0,26.3,$583,17.7,14.44
2923,"South Boston, VA",0,NaN,0,0.0,$0,0.0,0.00
2927,"Staunton, VA",23746,23853.0,0,25.9,$510,19.5,19.98
2935,"Waynesboro, VA",21006,19520.0,0,21.7,$490,18.9,15.04
2937,"Williamsburg, VA",14068,11998.0,0,48.3,$819,18.8,9.02
2938,"Winchester, VA",26203,23585.0,0,28.1,$717,20.4,9.23

In [54]:
# Replace 0's in "IncomePerCapita" with NaN (treat 0 as missing data)
clean.IncomePerCapita = dirty.IncomePerCapita.replace(0, numpy.NaN)

In [58]:
# Check clean to make sure there are no zeros
clean[clean.IncomePerCapita==0]

Empty DataFrame
Columns: [Name, State, Population, Pop2000, IncomePerCapita, PercentCollegeGrad, MedianRent, CommuteTime, LandArea]
Index: []

In [63]:
# Show frequency of each unique non-missing value in "IncomePerCapita"
# (NaN values are excluded by default)
clean.IncomePerCapita.value_counts()

IncomePerCapita
27141.0    4
32627.0    4
0.0        4
26669.0    3
34600.0    3
          ..
32544.0    1
21094.0    1
25849.0    1
19946.0    1
62484.0    1
Name: count, Length: 2880, dtype: int64

In [61]:
# Another way:
# Replace 0's in "IncomePerCapita" with NaN, 
# but only for counties where the Name ends with "VA"
# (note: mask() keeps values where condition is False, replaces where True)
clean.IncomePerCapita = dirty.IncomePerCapita.mask(
    (dirty.IncomePerCapita == 0) & (dirty.Name.str.endswith('VA')),
    numpy.NaN
)

In [62]:
clean.IncomePerCapita.value_counts()

IncomePerCapita
27141.0    4
32627.0    4
0.0        4
26669.0    3
34600.0    3
          ..
32544.0    1
21094.0    1
25849.0    1
19946.0    1
62484.0    1
Name: count, Length: 2880, dtype: int64

In [64]:
# better math with NaN's
dirty.IncomePerCapita.mean(), clean.IncomePerCapita.mean()

(30019.45422759059, 30318.203210272874)

### 3. Missing data values

#### How to find missing data?
* NaN
* `isnull()`, `notnull()`

#### How to handle missing data?
* compute without missing data:  e.g. `sum(skipna=True)`
* remove rows with missing data:  `dropna()`
* **impute** replacement value:  `fillna()`

#### What to impute upon missing data?
Replace NaNs with:
* fixed value, e.g. 0
* reduce  on the column:  mean, median
    * make use of other columns, filter before reduce (e.g. mean of data in the same category)
* regression with some other column (e.g. PercentCollegeGrad -> IncomePerCapita)
* sample from the column distribution, e.g. value frequencies, data simulation
* similar row, multi-dimensional nearest neighbor
* https://en.wikipedia.org/wiki/Imputation_(statistics)

In [65]:
# Calculate the mean of "IncomePerCapita" including NaN values 
# (will return NaN if any missing values are present)
clean.IncomePerCapita.mean(skipna=False)

nan

In [66]:
# Make a copy of the cleaned DataFrame for imputation steps
impute = clean.copy()

In [68]:
# Find columns with NaNs
clean.isnull().any()

Name                  False
State                 False
Population            False
Pop2000                True
IncomePerCapita        True
PercentCollegeGrad    False
MedianRent            False
CommuteTime           False
LandArea              False
dtype: bool

In [70]:
# Find and display rows where "IncomePerCapita" has NaN values
clean[ clean.IncomePerCapita.isnull() ]

,Name,State,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
2817,Bedford City,VA,6222,6299.0,NaN,20.5,450,18.5,6.88
2820,Bristol,VA,17835,17367.0,NaN,18.9,395,17.8,13.01
2824,Buena Vista,VA,6650,6349.0,NaN,14.8,486,15.1,6.70
2830,Charlottesville,VA,43475,45049.0,NaN,43.3,737,15.9,10.24
2834,Clifton Forge,VA,0,4289.0,NaN,0.0,0,0.0,0.00
2835,Colonial Heights,VA,17411,16897.0,NaN,20.2,674,21.8,7.52
2836,Covington,VA,5961,6303.0,NaN,9.8,366,17.6,5.47
2840,Danville,VA,43055,48411.0,NaN,15.7,379,17.8,42.93
2843,Emporia,VA,5927,5665.0,NaN,15.9,382,15.0,6.89
2846,Fairfax City,VA,22565,21498.0,NaN,50.9,1356,31.1,6.24
2847,Falls Church,VA,12332,10377.0,NaN,69.5,1247,26.7,2.00
2852,Franklin City,VA,8582,8346.0,NaN,21.0,502,22.5,8.21
2854,Fredericksburg,VA,24286,19279.0,NaN,31.5,862,27.2,10.44
2855,Galax,VA,7042,6837.0,NaN,13.2,296,27.4,8.24
2865,Harrisonburg,VA,48914,40468.0,NaN,31.8,641,15.5,17.42
2869,Hopewell,VA,22591,22354.0,NaN,11.2,539,22.0,10.28
2877,Lexington,VA,7042,6867.0,NaN,47.6,560,13.1,2.50
2881,Lynchburg,VA,75568,65269.0,NaN,28.1,491,16.4,49.13
2883,Manassas,VA,37821,35135.0,NaN,27.7,1083,32.0,9.88
2884,Manassas Park,VA,14273,10290.0,NaN,24.8,1193,40.6,2.53
2885,Martinsville,VA,13821,15416.0,NaN,17.8,385,16.9,10.96
2896,Norton,VA,3958,3904.0,NaN,19.1,387,15.9,7.48
2901,Petersburg,VA,32420,33740.0,NaN,15.9,579,20.9,22.93
2903,Poquoson,VA,12150,11566.0,NaN,34.2,926,22.5,15.32
2910,Radford,VA,16408,15859.0,NaN,30.7,557,17.5,9.87
2919,Salem,VA,24802,24747.0,NaN,26.3,583,17.7,14.44
2923,South Boston,VA,0,NaN,NaN,0.0,0,0.0,0.00
2927,Staunton,VA,23746,23853.0,NaN,25.9,510,19.5,19.98
2935,Waynesboro,VA,21006,19520.0,NaN,21.7,490,18.9,15.04
2937,Williamsburg,VA,14068,11998.0,NaN,48.3,819,18.8,9.02
2938,Winchester,VA,26203,23585.0,NaN,28.1,717,20.4,9.23

In [71]:
# Impute missing values in "IncomePerCapita" with the column mean
impute.IncomePerCapita = clean.IncomePerCapita.fillna(
    clean.IncomePerCapita.mean()
)

In [27]:
# Show rows from the imputed DataFrame where the original "IncomePerCapita" was NaN
impute[ clean.IncomePerCapita.isnull() ]

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
2817,"Bedford City, VA",6222,6299.0,30318.20321,20.5,450,18.5,6.88
2820,"Bristol, VA",17835,17367.0,30318.20321,18.9,395,17.8,13.01
2824,"Buena Vista, VA",6650,6349.0,30318.20321,14.8,486,15.1,6.70
2830,"Charlottesville, VA",43475,45049.0,30318.20321,43.3,737,15.9,10.24
2834,"Clifton Forge, VA",0,4289.0,30318.20321,0.0,0,0.0,0.00
2835,"Colonial Heights, VA",17411,16897.0,30318.20321,20.2,674,21.8,7.52
2836,"Covington, VA",5961,6303.0,30318.20321,9.8,366,17.6,5.47
2840,"Danville, VA",43055,48411.0,30318.20321,15.7,379,17.8,42.93
2843,"Emporia, VA",5927,5665.0,30318.20321,15.9,382,15.0,6.89
2846,"Fairfax City, VA",22565,21498.0,30318.20321,50.9,1356,31.1,6.24
2847,"Falls Church, VA",12332,10377.0,30318.20321,69.5,1247,26.7,2.00
2852,"Franklin City, VA",8582,8346.0,30318.20321,21.0,502,22.5,8.21
2854,"Fredericksburg, VA",24286,19279.0,30318.20321,31.5,862,27.2,10.44
2855,"Galax, VA",7042,6837.0,30318.20321,13.2,296,27.4,8.24
2865,"Harrisonburg, VA",48914,40468.0,30318.20321,31.8,641,15.5,17.42
2869,"Hopewell, VA",22591,22354.0,30318.20321,11.2,539,22.0,10.28
2877,"Lexington, VA",7042,6867.0,30318.20321,47.6,560,13.1,2.50
2881,"Lynchburg, VA",75568,65269.0,30318.20321,28.1,491,16.4,49.13
2883,"Manassas, VA",37821,35135.0,30318.20321,27.7,1083,32.0,9.88
2884,"Manassas Park, VA",14273,10290.0,30318.20321,24.8,1193,40.6,2.53
2885,"Martinsville, VA",13821,15416.0,30318.20321,17.8,385,16.9,10.96
2896,"Norton, VA",3958,3904.0,30318.20321,19.1,387,15.9,7.48
2901,"Petersburg, VA",32420,33740.0,30318.20321,15.9,579,20.9,22.93
2903,"Poquoson, VA",12150,11566.0,30318.20321,34.2,926,22.5,15.32
2910,"Radford, VA",16408,15859.0,30318.20321,30.7,557,17.5,9.87
2919,"Salem, VA",24802,24747.0,30318.20321,26.3,583,17.7,14.44
2923,"South Boston, VA",0,NaN,30318.20321,0.0,0,0.0,0.00
2927,"Staunton, VA",23746,23853.0,30318.20321,25.9,510,19.5,19.98
2935,"Waynesboro, VA",21006,19520.0,30318.20321,21.7,490,18.9,15.04
2937,"Williamsburg, VA",14068,11998.0,30318.20321,48.3,819,18.8,9.02
2938,"Winchester, VA",26203,23585.0,30318.20321,28.1,717,20.4,9.23

In [28]:
# Compare means before and after imputation 
# (they remain the same since NaNs are replaced with the column mean)
clean.IncomePerCapita.mean(), impute.IncomePerCapita.mean()

(30318.203210272874, 30318.203210272877)

In [29]:
# Compare standard deviation before and after imputation
# Variance (and std) is reduced because filling NaNs with the mean 
# removes data spread and pulls values toward the average
clean.IncomePerCapita.std(), impute.IncomePerCapita.std()

(8168.051265630017, 8127.6956774106775)

In [72]:
# Impute missing "IncomePerCapita" values with the mean of VA counties only
# (useful if we assume missing values belong to Virginia and should reflect its average)
impute.IncomePerCapita = clean.IncomePerCapita.fillna(
    clean.IncomePerCapita[clean.Name.str.endswith('VA')].mean()
)

In [73]:
# Find rows where the imputed column differs from the original 
# (i.e., locations where NaNs were filled with the VA mean)
clean[impute.IncomePerCapita != clean.IncomePerCapita]

,Name,State,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
2817,Bedford City,VA,6222,6299.0,NaN,20.5,450,18.5,6.88
2820,Bristol,VA,17835,17367.0,NaN,18.9,395,17.8,13.01
2824,Buena Vista,VA,6650,6349.0,NaN,14.8,486,15.1,6.70
2830,Charlottesville,VA,43475,45049.0,NaN,43.3,737,15.9,10.24
2834,Clifton Forge,VA,0,4289.0,NaN,0.0,0,0.0,0.00
2835,Colonial Heights,VA,17411,16897.0,NaN,20.2,674,21.8,7.52
2836,Covington,VA,5961,6303.0,NaN,9.8,366,17.6,5.47
2840,Danville,VA,43055,48411.0,NaN,15.7,379,17.8,42.93
2843,Emporia,VA,5927,5665.0,NaN,15.9,382,15.0,6.89
2846,Fairfax City,VA,22565,21498.0,NaN,50.9,1356,31.1,6.24
2847,Falls Church,VA,12332,10377.0,NaN,69.5,1247,26.7,2.00
2852,Franklin City,VA,8582,8346.0,NaN,21.0,502,22.5,8.21
2854,Fredericksburg,VA,24286,19279.0,NaN,31.5,862,27.2,10.44
2855,Galax,VA,7042,6837.0,NaN,13.2,296,27.4,8.24
2865,Harrisonburg,VA,48914,40468.0,NaN,31.8,641,15.5,17.42
2869,Hopewell,VA,22591,22354.0,NaN,11.2,539,22.0,10.28
2877,Lexington,VA,7042,6867.0,NaN,47.6,560,13.1,2.50
2881,Lynchburg,VA,75568,65269.0,NaN,28.1,491,16.4,49.13
2883,Manassas,VA,37821,35135.0,NaN,27.7,1083,32.0,9.88
2884,Manassas Park,VA,14273,10290.0,NaN,24.8,1193,40.6,2.53
2885,Martinsville,VA,13821,15416.0,NaN,17.8,385,16.9,10.96
2896,Norton,VA,3958,3904.0,NaN,19.1,387,15.9,7.48
2901,Petersburg,VA,32420,33740.0,NaN,15.9,579,20.9,22.93
2903,Poquoson,VA,12150,11566.0,NaN,34.2,926,22.5,15.32
2910,Radford,VA,16408,15859.0,NaN,30.7,557,17.5,9.87
2919,Salem,VA,24802,24747.0,NaN,26.3,583,17.7,14.44
2923,South Boston,VA,0,NaN,NaN,0.0,0,0.0,0.00
2927,Staunton,VA,23746,23853.0,NaN,25.9,510,19.5,19.98
2935,Waynesboro,VA,21006,19520.0,NaN,21.7,490,18.9,15.04
2937,Williamsburg,VA,14068,11998.0,NaN,48.3,819,18.8,9.02
2938,Winchester,VA,26203,23585.0,NaN,28.1,717,20.4,9.23

In [74]:
# Are there any duplicated rows?
dirty.duplicated().any()

False

### 4. Disorganized table structure 

### How to restructure messy  tables into "tidy" tables?

* Goal: Variables in columns, observations in rows, observational unit as table
* Common problems:
    * Column headers are values, not variable names (stack() and unstack()), e.g. https://docs.google.com/a/vt.edu/spreadsheets/d/1xYQ08p5llwPR3ZK6h900LDd-J7WuXCv_FoPlksrj-eA/pub
    * Multiple variables are stored in one column.
    * Variables are stored in both rows and columns (crosstabs).
    * Multiple types of observational units are stored in the same table (joined tables).
    * A single observational unit is stored in multiple tables (split tables), e.g. https://www.gapminder.org/data/
* **Tidy Data** by Hadley Wickham, https://www.jstatsoft.org/article/view/v059i10/v59i10.pdf

In [33]:
# Preview the first 5 rows of the raw dataset
dirty.head()

,Name,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
0,"Aleutians East, AK",3141,2697.0,28942,12.5,$475,4.5,6981.94
1,"Aleutians West, AK",5561,5465.0,33318,8.5,$1050,4.9,4390.28
2,"Anchorage, AK",291826,260283.0,46243,32.3,$921,18.0,1704.68
3,"Bethel, AK",17013,16006.0,26990,14.4,$845,6.7,40570.00
4,"Bristol Bay, AK",997,1258.0,48747,14.2,$687,9.2,503.84

In [75]:
# Split the "Name" column into two separate variables:
#   - "Name" keeps the county/city name (before the comma)
#   - "State" stores the state abbreviation (after the comma)
clean.Name = dirty.Name.map(lambda s: s.split(', ')[0])
clean['State'] = dirty.Name.map(lambda s: s.split(', ')[1])

In [76]:
clean.head()

,Name,State,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
0,Aleutians East,AK,3141,2697.0,28942.0,12.5,475,4.5,6981.94
1,Aleutians West,AK,5561,5465.0,33318.0,8.5,1050,4.9,4390.28
2,Anchorage,AK,291826,260283.0,46243.0,32.3,921,18.0,1704.68
3,Bethel,AK,17013,16006.0,26990.0,14.4,845,6.7,40570.00
4,Bristol Bay,AK,997,1258.0,48747.0,14.2,687,9.2,503.84

In [78]:
# List all column names in the cleaned DataFrame
clean.columns

Index(['Name', 'State', 'Population', 'Pop2000', 'IncomePerCapita',
       'PercentCollegeGrad', 'MedianRent', 'CommuteTime', 'LandArea'],
      dtype='object')

In [77]:
# Reorder columns
clean = clean[['Name', 'State', 'Population', 'Pop2000', 'IncomePerCapita',
       'PercentCollegeGrad', 'MedianRent', 'CommuteTime', 'LandArea']]

In [79]:
clean.head()

,Name,State,Population,Pop2000,IncomePerCapita,PercentCollegeGrad,MedianRent,CommuteTime,LandArea
0,Aleutians East,AK,3141,2697.0,28942.0,12.5,475,4.5,6981.94
1,Aleutians West,AK,5561,5465.0,33318.0,8.5,1050,4.9,4390.28
2,Anchorage,AK,291826,260283.0,46243.0,32.3,921,18.0,1704.68
3,Bethel,AK,17013,16006.0,26990.0,14.4,845,6.7,40570.00
4,Bristol Bay,AK,997,1258.0,48747.0,14.2,687,9.2,503.84